<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Not 911 - {{ page.title }}</title>
<link id="favicon" rel="icon" href="/favico.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="List of alternatives to calling 911 in Seattle">
<meta name="author" content="Tech Bloc SEA">

<link rel="stylesheet" href="/style.css">
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="128x128">
<link rel="icon" sizes="192x192" href="/apple-touch-icon.png">
