<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ page.title }} | Not 911</title>
<link id="favicon" rel="icon" href="/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="List of alternatives to calling 911 in Seattle">
<meta name="author" content="Tech Bloc SEA">
<meta name="theme-color" content="#ff0080">

<meta name="og:title" content="911 Alternatives in the Seattle area">
<meta name="og:description" content="A list of potential alternatives to calling 911 in the Seattle area">
<meta name="og:image" content="/apple-touch-icon.png">
<meta name="og:type" content="website">

<link rel="stylesheet" href="/style.css">
{% if page.stylesheet %}
    <link rel="stylesheet" href="{{ page.stylesheet }}">
{% endif %}
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="128x128">
<link rel="icon" sizes="192x192" href="/apple-touch-icon.png">
<link rel="manifest" href="/not911.webmanifest">

{% include register-service-worker.js.html %}
