<section>
    <header>
        <h3 id="mandatory-reporters">Mandatory Reporters</h3>
        <div class="buttons"><a href="#alternative-resources">Back to the top</a></div>
    </header>

    <p>
        Certain resources' representatives are what're called <em>mandatory reporters</em>. Mandatory reporters are required to report certain things to the police. For example, in most states and US territories, mandatory reporters are obliged to report actual or suspected child abuse or neglect to the state.
    </p>

    <p>
        Mandatory reporters are only able to make reports when they have sufficient information. Usually this means the name and location of the abuser.
    </p>

    <p>
        <strong>If you remain anonymous, mandatory reporters will be unable to make a report to the state on your behalf.</strong> This is not legal advice.
    </p>

    <p>
        Learn more about mandatory reporter laws <a href="https://www.childwelfare.gov/pubPDFs/manda.pdf" target="_blank" rel="noopener noreferrer">here</a>.
    </p>
</section>
