:root, :root.light {
    --background-color: white;
    --font-color: black;
    --primary-color: cyan;
    --secondary-color: #ff0080;
}

:root.dark {
    --background-color: black;
    --font-color: white;
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --background-color: black;
        --font-color: white;
    }
}

* {
    box-sizing: border-box;
}
  
:root {
    font-family: helvetica, arial, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

body {
    margin: 0;
    transition: background-color ease-in 250ms;
}

h1 a {
    font-weight: bold;
    color: var(--secondary-color);
	text-decoration: line-through;
    text-align: center;
}

a {
    color: var(--secondary-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin: auto;
}

@media (max-width: 33em) {
    .container {
        width: 95%;
    }
}

.phones {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.phones > a {
    margin-bottom: 1em;
}

.phone-icon {
    height: 24px;
    width: 24px;
    display: inline-block;
    color: var(--font-color);
    fill: var(--background-color);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button, .buttons a {
    background: var(--primary-color);
    font-weight: 600;
    color: black;
    padding: 0.5em;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 2px 2px 0 0 var(--font-color);
    margin: 0.5em;
    height: 2em;
}

button:hover, .buttons a:hover {
    background: lightblue;
}

button:active, .buttons a:active {
    box-shadow: none;
}

.resource, form, details {
    border: 1px solid var(--font-color);
    border-radius: 3px;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

section > header {
    display: flex;
    justify-content: space-between;
}

.categories {
    margin-top: 1em;
}

form input {
    width: 100%;
}

form textarea {
    width: 100%;
}

button {
    font-size: 1em;
    outline: none;
    border: none;
}

details {
    padding: 1em;
    width: 100%;
    margin-bottom: 0;
}

details > p:last-of-type {
    margin-bottom: 0;
}

summary {
    cursor: pointer;
}

#error {
    color: red;
}

h3 {
    padding-top: 40px;
    margin-top: -20px;
}

.theme-toggle {
    cursor: pointer;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 1.5rem;
    bottom: 1rem;
    border: 2px solid var(--font-color);
    background-color: var(--font-color);
    box-shadow: 2px 2px 0 0 var(--font-color);
    transition: border ease-in 250ms, background-color ease-in 250ms, box-shadow ease-in 250ms;
    border-radius: 100%;
    height: 34px;
    width: 38px;
    padding: 0;
}

.theme-toggle:hover {
    background: gray
}

.theme-toggle-icon {
    height: 26px;
    width: 26px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
}

.theme-toggle-icon {
    background-image: url('/icons/dark-theme.svg');
}

.phone-icon {
    background-image: url('/icons/phone-dark.svg');
}
