{% capture expression %}
    item.path contains 'shared' or item.path contains '{{ page.slug }}'
{% endcapture %}

{% assign resources = resources_by_type | where:"name", resource_type.slug | map:"items" | first %}

<section>
    <header>
        <h3 id="{{ resource_type.slug }}">{{ resource_type.title }}</h3>
        <div class="buttons"><a href="#alternative-resources">Back to the top</a></div>
    </header>

    {% for resource in resources %}
        {% include resource.html %}
    {% endfor %}
</section>
