<section>
    <h2 id="alternative-resources">Alternative resources</h2>

    <p>
        Below are various alternatives to calling 911 in the {{ page.title }} area.
    </p>

    <p>
        <strong>Note: All resources listed are available 24 hours a day unless otherwise noted.</strong>
    </p>

    <div class="buttons categories">
        {% for resource_type in resource_types %}
            <a href="#{{ resource_type.slug }}">{{ resource_type.title }}</a>
        {% endfor %}
    </div>
</section>
