* {
    box-sizing: border-box;
}
  
body {
    font-family: helvetica, arial, sans-serif;
}

h1 {
    font-weight: bold;
    color: #ff0080;
	text-decoration: line-through;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin: auto;
}

@media (max-width: 33em) {
    .container {
        width: 95%;
    }
}

.phones {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.phones > a {
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons a {
    background: cyan;
    font-weight: 600;
    color: black;
    padding: 0.5em;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 2px 2px 0 0 black;
    margin: 0.5em;
    height: 2em;
}

.buttons a:hover {
    background: lightblue;
}

.buttons a:active {
    box-shadow: none;
}

.resource {
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

section > header {
    display: flex;
    justify-content: space-between;
}

.categories {
    margin-top: 1em;
    margin-bottom: 2em;
}
