---
layout: default
---
{% capture expression %}
    item.path contains 'shared' or item.path contains '{{ page.slug }}'
{% endcapture %}
{% assign city_resources = site.resources | where_exp:"item", expression %}

{% assign city_resource_type_slugs = '' | split:'' %}
{% for resource in city_resources %}
    {% for category in resource.categories %}
        {% assign city_resource_type_slugs = city_resource_type_slugs | push: category %}
    {% endfor %}
    {% if resource.category %}
        {% assign city_resource_type_slugs = city_resource_type_slugs | push: resource.category %}
    {% endif %}
{% endfor %}

{% assign city_resource_type_slugs = city_resource_type_slugs | uniq | join: "," %}

{% assign resource_types = '' | split:'' %}
{% for resource_type in site.resource_types %}
    {% if city_resource_type_slugs contains resource_type.slug %}
        {% assign resource_types = resource_types | push: resource_type %}
    {% endif %}
{% endfor %}

{% assign resource_types = resource_types | sort:"order" %}

{% include resource_types.html %}

{% include why.html %}

{% for resource_type in resource_types %}
    {% include resource_type.html %}
{% endfor %}

{% include mandatory-reporters.html %}

{% include about.html %}
