<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <main class="container">
        <h1><a href="/">911</a></h1>
        
        <section>
            <h2>
                If you or someone else are in immediate danger
            </h2>

            <p>
                Call <a href="tel:911">911</a> if you are able and feel safe doing so. Consider requesting <strong>"fire and rescue only"</strong> when appropriate (i.e., for behavioral health issues).
            </p>
        </section>

        {{ content }}

    </main>
    <button type="button" class="theme-toggle" aria-pressed="false" aria-label="Dark Theme Toggle">
        <span class="theme-toggle-icon"></span>
    </button>
</body>
<script type="text/javascript" src="/main.js"></script>
</html>
